.Header {
  min-height: 10vh;
  text-align: center;
  justify-content: space-around;
  background-color: #ffde22;
  display: flex;
  flex-wrap: wrap;
}

.Main-part {
  background-color: red;
  min-height: 80vh;
  text-align: center;
}

.Players {
  text-align: center;
  display: inline-block;
}

.break {
  width: 100px;
  min-height: 20vh;
  background-color: red;
  margin-top: 20%;
  float: left;
}

output {
  color: white;
  margin-right: 10px;
}
.weaponimg {
  width: 150px;
  height: 150px;
}

.weaponimg:hover {
  width: 160px;
  height: 160px;
  cursor: pointer;
}

.weapon {
  background: #ffde22;
  margin-top: 15px;
  border: none;
  padding: 10px 20px;
  color: black;
}

.weapon:hover {
  background: #ecce20;
  cursor: pointer;
}

.winner {
  color: #ffde22;
  font-size: 20px;
  margin-top: 15px;
}

footer {
  min-height: 10vh;
  background-color: #ffde22;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
