.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.Title {
  min-height: 100vh;
  text-align: center;
  justify-content: space-around;

  display: flex;
  flex-wrap: wrap;
}
