.App {
  min-height: 100vh;
  background-color: #ffffff;
}

.Header {
  min-height: 20vh;
  text-align: center;
  justify-content: space-around;
  background-color: #ffde22;
  display: flex;
  flex-wrap: wrap;
}

.Players {
  background-color: pink;
  text-align: center;
  display: inline-block;
  margin-left: 50%;
  margin-right: 50%;
}

.break {
  width: 100px;
  min-height: 20vh;
  background-color: white;
  float: left;
}

footer {
  min-height: 20vh;
  background-color: #ffde22;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
